#menu
    display none
    position absolute
    width 200px
    z-index 9999

#menu2
    display none
    position absolute
    right 0
    width 200px
    z-index 9998

canvas
    position absolute
    top 50%
    margin-top -75px